/* You can add global styles to this file, and also import other style files */
html {   
    background-color: rgb(61, 60, 60); 
    }

body {
    background-color: rgb(39, 38, 38);
    }

.a {
    background-color: darkgray;
}

textarea {
    background-color: darkgray;
}



